/*
--text: #ffffff;
--background: #6b7280;
--primary: #303338;
--secondary: #4dbfa6;
--accent: #b84b61;
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #6b7280;
    overflow-x: hidden;
}

#qual {
    display: flex;
    flex-direction: column; /* Arrange elements vertically */
    align-items: center; /* Center align items horizontally */
}

.wrapper{
    display:relative;
}
.wrapper .static-txt{
    color:#fff;
    font-size: 60px;
    font-weight: 400;
}
.wrapper .dynamic-txts{
    margin-left:15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

.dynamic-txts li{
    list-style: none;
    color:#fff;
    font-size: 60px;
    font-weight: 500;
    top:0;
    position: relative;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide{
    100%{
        top:-360px;
    }
}

.dynamic-txts li{
    position:relative;

}

.dynamic-txts li::after{
    content: '';
    position: absolute;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #6b7280;
    border-left:2px solid #fff;
    animation: typing 3s steps(10) infinite;
}

@keyframes typing{
    40%,
    60%{
        left:calc(100% + 30px);
    }
    100%{
        left:0;
    }
}

.container{
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

/* Add this style if you want to remove browser default scrollbar */
::-webkit-scrollbar {
    display: none;
}

h1{
    color:rgb(226, 226, 226);
    text-shadow: 1px 1px 4px #000;
}
.one{
    background-color: #6b7280;
}
.two{
    background-color: #6b7280;
}
.three{
    background-color: #6b7280;
}
.four{
    background-color: #6b7280;
}


button {
    border: none;
    position: fixed;
    background: none; /* Set background to none or transparent */
    color: #fff; /* Set text color to white */
    top: 50px;
    left: 50px;
    z-index: 2;
}

button:hover {
    color: #ccc; /* Change text color on hover */
}

.content {
    margin-left: 0;
    transition: margin-left 0.5s;
    padding: 16px;
}

.links {
    position: fixed;
    width:100%;
    height: 10%;
    background-color: #303338;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.links a {
    margin-left: 15px; /* Same left margin as the Menu button */
    padding: 5px; /* Same padding as the Menu button */
    display: inline-block;
    font-size: 25px; /* Adjust the font size of icons as needed */
    color: #fff;
    text-decoration: none;
}

.links a i {
    vertical-align: middle; /* Align the icon vertically */
}

.links a:hover {
    color: #ccc; /* Adjust the hover color as needed */
}

.cvButton {
    margin: 10px;
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    background-color: #4dbfa6; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px; /* Adjust border radius as needed */
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s; /* Add transition for hover effect */
    z-index: 1; /* Ensure the button is above other content */
}

.cvButton:hover {
    box-shadow: 0 0 25px #303338;
    margin-top: -5px;
}

.avatar{
    padding: 10px;
}

.two h1{
    font-size: 50px;
    font-weight: bolder;
    padding:10px;
    margin-right: 15px;
    box-shadow: none;
}

.two th {
    text-align: center;
}

.bio {
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.bio p{
    color: white;
    font-size:20px;
}

.bio h2{
    font-size: 30px;
    font-weight: bolder;
    color: #b84b61;
}

.skillset {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color:#4dbfa6;
}

.skillset-row{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.skillset-row h3{
    font-weight: 30px;
    color:#4dbfa6;
}

.arrow {
    display: flex; /* Make the span an inline-block element */
    position: absolute;
    left: 50%;
    bottom: 35px;
    width: 3rem;
    height: 3rem;
    border-left: 0.5rem solid #fff;
    border-bottom: 0.5rem solid #fff;
    transform: rotate(315deg); /* Adjust the rotation to create a down-pointing arrow */
    margin-top: 100px; /* Add some margin for spacing */
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0) rotate(315deg); /* Start and end position */
    }
    40% {
        transform: translateX(-50%) translateY(-20px) rotate(315deg); /* Bounce up */
    }
    60% {
        transform: translateX(-50%) translateY(-10px) rotate(315deg); /* Bounce slightly lower */
    }
}

.hidden {
    opacity: 0;
    filter:blur(2px);
    transform: translateX(-50%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform:translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition:none;
    }
}

.aboutme {
    display: flex;
    position: relative;
    background-color: #303338;
    z-index: 2;
    border-radius: 2.1875rem;
    padding:0.625rem;
    width: 80%;
    margin: 0.625rem;
}

.fuzzy-overlay {
    position: absolute;
    background-image: url('./images/noise1.png');
    z-index: 5;
    opacity:15%;

    animation: shift 0.2s linear infinite both;
}

@keyframes shift {
    0% {
        transform: translateX(10px) translateY(10px);
    }
    100% {
        transform: translateX(-10px) translateY(-10px); 
    }
}

.image-glow{
    box-shadow: 0 0 25px #4dbfa6;
    border-radius: 50%;
    position: relative;
}

.pfp{
    position: relative;
    border-radius: 50%;
    height: 21.875rem;
    width: 21.875rem;

}