/*
--text: #ffffff;
--background: #6b7280;
--primary: #303338;
--secondary: #4dbfa6;
--accent: #b84b61;
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #6b7280;
    overflow-x: hidden;
}

#qual {
    display: flex;
    flex-direction: column; /* Arrange elements vertically */
    align-items: center; /* Center align items horizontally */
}

.wrapper{
    display:relative;
}
.wrapper .static-txt{
    color:#fff;
    font-size: 3.75rem;
    font-weight: 400;
}
.wrapper .dynamic-txts{
    margin-left:0.9375rem;
    line-height: 5.625rem;
    height: 5.625rem;
    overflow: hidden;
}

.dynamic-txts li{
    list-style: none;
    color:#fff;
    font-size: 3.75rem;
    font-weight: 500;
    top:0;
    position: relative;
    animation: slide 12s steps(4) infinite;
}

.dynamic-txts:hover{
    transform: scale(105%);
}

@keyframes slide{
    100%{
        top:-22.5rem;
    }
}

.dynamic-txts li{
    position:relative;

}

.dynamic-txts li::after{
    content: '';
    position: absolute;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #6b7280;
    border-left:0.125rem solid #fff;
    animation: typing 3s steps(10) infinite;
}

@keyframes typing{
    40%,
    60%{
        left:calc(100% + 1.875rem);
    }
    100%{
        left:0;
    }
}

.container{
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

/* Add this style if you want to remove browser default scrollbar */
::-webkit-scrollbar {
    display: none;
}

h1{
    color:rgb(226, 226, 226);
    text-shadow: 0.0625rem 0.0625rem 0.25rem #000;
}
.one{
    background-color: #6b7280;
}
.two{
    background-color: #6b7280;
}
.three{
    background-color: #6b7280;
}
.four{
    background-color: #6b7280;
}


button {
    border: none;
    background: none; /* Set background to none or transparent */
    color: #fff; /* Set text color to white */
    top: 3.125rem;
    left: 3.125rem;
    z-index: 2;
}

button:hover {
    color: #ccc; /* Change text color on hover */
}

.content {
    margin-left: 0;
    transition: margin-left 0.5s;
    padding: 1rem;
}

.links {
    position: fixed;
    width:100%;
    height: 10%;
    background-color: #303338;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.links img{
    width: 3rem;
    height: 3rem;
}

.links a {
    margin-left: 0.9375rem; /* Same left margin as the Menu button */
    padding: 0.3125rem; /* Same padding as the Menu button */
    display: inline-block;
    font-size: 1.5625rem; /* Adjust the font size of icons as needed */
    color: #fff;
    text-decoration: none;
}

.links a i {
    vertical-align: middle; /* Align the icon vertically */
}

.links a:hover {
    color: #ccc; /* Adjust the hover color as needed */
    transform: scale(110%);
}

.cvButton {
    margin: 0.625rem;
    padding: 0.625rem 1.25rem; /* Adjust padding as needed */
    font-size: 1rem; /* Adjust font size as needed */
    background-color: #4dbfa6; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 0.3125rem; /* Adjust border radius as needed */
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s; /* Add transition for hover effect */
    z-index: 1; /* Ensure the button is above other content */
}

.cvButton:hover {
    transform: scale(110%);
}
.button-box{
    display: flex;
    flex-direction: row; 
}
.avatar{
    padding: 0.625rem;
}

.two h1{
    font-size: 3.125rem;
    font-weight: bolder;
    padding:0.625rem;
    margin-right: 0.9375rem;
    box-shadow: none;
}

.two th {
    text-align: center;
}

.bio {
    text-align: center;
    font-size: 1.125rem;
    padding: 0.625rem;
}

.bio p{
    color: white;
    font-size:1.25rem;
}

.bio h2{
    font-size: 1.875rem;
    font-weight: bolder;
    color: #b84b61;
}

.skillset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #4dbfa6;
    width: 80%; /* Set a fixed width for better alignment */
    margin: 0 auto; /* Center the skillset container */
}

.skillset-row {
    display: flex;
    justify-content: space-evenly; /* Evenly distribute items within the row */
    width: 100%; /* Make sure the row takes up the full width of the container */
    margin: 0.625rem 0; /* Add some vertical spacing between rows */
}

.skillset-row h3 {
    font-weight: 1.875rem;
    color: #4dbfa6;
}


.arrow {
    display: flex; /* Make the span an inline-block element */
    position: absolute;
    left: 50%;
    bottom: 2.1875rem;
    width: 3rem;
    height: 3rem;
    border-left: 0.5rem solid #fff;
    border-bottom: 0.5rem solid #fff;
    transform: rotate(315deg); /* Adjust the rotation to create a down-pointing arrow */
    margin-top: 6.25rem; /* Add some margin for spacing */
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0) rotate(315deg); /* Start and end position */
    }
    40% {
        transform: translateX(-50%) translateY(-1.25rem) rotate(315deg); /* Bounce up */
    }
    60% {
        transform: translateX(-50%) translateY(-0.625rem) rotate(315deg); /* Bounce slightly lower */
    }
}

.hidden {
    opacity: 0;
    filter:blur(0.125rem);
    transform: translateX(-50%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform:translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition:none;
    }
}

.aboutme {
    display: flex;
    position: relative;
    background-color: #303338;
    z-index: 2;
    border-radius: 2.1875rem;
    padding:0.625rem;
    width: 80%;
    margin: 0.625rem;
}

.image-glow{
    box-shadow: 0 0 25px #4dbfa6;
    border-radius: 50%;
    position: relative;
}

.pfp{
    position: relative;
    border-radius: 50%;
    height: 21.875rem;
    width: 21.875rem;

}

.pfp:hover{
    transform: scale(90%);
}

.pfpSmall{
    position: relative;
    border-radius: 50%;
    height: 12.5rem;
    width: 12.5rem;

}

.pfpSmall:hover{
    transform: scale(90%);
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #303338;
    padding: 2rem;
    border-radius: 1.25rem;
    width: 80%;
    margin: auto;
}

.form-container {
    width: 100%;
    align-items: left;
}

.form-item { 
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
}

.form-item input{
    display:flex;
}

label {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 0.5rem;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    background-color: #42464D;
    color: #fff;
    border: none;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

input:focus, textarea:focus {
    outline: none;
    border: 2px solid #4dbfa6;
}

.form-button{
    font-size: 1rem;
    background-color: #4dbfa6;
    color: #fff;
    border-radius: 0.3125rem;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    border: none;
    width: 100%; /* Make the button full-width */
    text-align: center;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    transform: scale(102%);
}

@media(min-width:320px) and (max-width:767px) {

    .container{
        scroll-snap-type:none;
    }
    .links {
        height: 8%;
        justify-content: space-evenly;
    }
    .links a{
        font-size: 0.5rem;
    }
    .links img{
        height: 0.5;
        width: 2rem;
        height: 2rem;
    }
    .one{
        flex-direction: column;
    }
    .wrapper{
        justify-content: center;
        align-items: center;
    }
    .wrapper .static-txt{
        font-size: 1.5rem;
    }
    .wrapper .dynamic-txts{
        font-size: 1.5rem;
    }
    .dynamic-txts li{
        font-size: 1.5rem;
    }
    .pfp{
        height: 10.9375rem;
        width: 10.9375rem;
        margin-bottom: 1rem;
    }
    .pfpSmall{
        display: none;
    }
    .button-box{
        flex-direction: column;
    }
    .contact-container{
        font-size: 0.75rem;
    }
    .aboutme h1{
        font-size: 2rem;
    }
    .bio h2{
        font-size: 1.5rem;
    }
    .bio p{
        font-size: 1rem;
    }
    .skillset h3{
        font-size: 1rem;
    }
    .contact-container h1{
        font-size: 1rem;
    }
}
@media (min-width: 768px) and (max-width:1024px) {
    .container{
        scroll-snap-type:none;
    }

    .one{
        flex-direction: column;
    }
    .wrapper{
        justify-content: center;
        align-items: center;
    }
    .wrapper .static-txt{
        font-size: 3rem;
    }
    .wrapper .dynamic-txts{
        font-size: 3rem;
    }
    .dynamic-txts li{
        font-size: 3rem;
    }
    .pfp{
        height: 15rem;
        width: 15rem;
        margin-bottom: 1rem;
    }
    .pfpSmall{
        display: none;
    }
    .button-box{
        margin-left: 7rem;
        flex-direction: column;
    }
    .contact-container{
        font-size: 0.75rem;
    }
    .aboutme h1{
        font-size: 2rem;
    }
    .bio h2{
        font-size: 1.5rem;
    }
    .bio p{
        font-size: 1rem;
    }
    .skillset h3{
        font-size: 1rem;
    }
    .contact-container h1{
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    .container{
        scroll-snap-type:none;
    }
}