@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    overflow-x: hidden;
}

#qual {
    display: flex;
    flex-direction: column; /* Arrange elements vertically */
    align-items: center; /* Center align items horizontally */
}

.wrapper{
    display:relative;
}
.wrapper .static-txt{
    color:#fff;
    font-size: 60px;
    font-weight: 400;
}
.wrapper .dynamic-txts{
    margin-left:15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

.dynamic-txts li{
    list-style: none;
    color:#fff;
    font-size: 60px;
    font-weight: 500;
    top:0;
    position: relative;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide{
    100%{
        top:-360px;
    }
}

.dynamic-txts li{
    position:relative;

}

.dynamic-txts li::after{
    content: '';
    position: absolute;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #839cb5;
    border-left:2px solid #fff;
    animation: typing 3s steps(10) infinite;
}

@keyframes typing{
    40%,
    60%{
        left:calc(100% + 30px);
    }
    100%{
        left:0;
    }
}

.container{
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

/* Add this style if you want to remove browser default scrollbar */
::-webkit-scrollbar {
    display: none;
}

h1{
    color:rgb(226, 226, 226);
    text-shadow: 1px 1px 4px #000;
}
.one{
    background-color: #839cb5;
}
.two{
    background-color: #353634;
}
.three{
    background-color: #353634;
}
.four{
    background-color: #353634;
}


button {
    border: none;
    position: fixed;
    background: none; /* Set background to none or transparent */
    color: #fff; /* Set text color to white */
    top: 50px;
    left: 50px;
    z-index: 2;
}

button:hover {
    color: #ccc; /* Change text color on hover */
}

.content {
    margin-left: 0;
    transition: margin-left 0.5s;
    padding: 16px;
}

.links {
    position: fixed;
    top: 35px; /* Same top position as the Menu button */
    right: 50px; /* Same right position as the Menu button */
}

.links a {
    margin-left: 15px; /* Same left margin as the Menu button */
    padding: 5px; /* Same padding as the Menu button */
    display: inline-block;
    font-size: 25px; /* Adjust the font size of icons as needed */
    color: #fff;
}

.links a i {
    vertical-align: middle; /* Align the icon vertically */
}

.links a:hover {
    color: #ccc; /* Adjust the hover color as needed */
}

.cvButton {
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    background-color: #e6324b; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px; /* Adjust border radius as needed */
    cursor: pointer;
    position: sticky;
    transition: background-color 0.3s; /* Add transition for hover effect */
    bottom: 20px; /* Adjust the distance from the bottom */
    left: 50%; /* Place it horizontally in the middle */
    transform: translateX(-50%); /* Center the button horizontally */
    z-index: 1; /* Ensure the button is above other content */
}

.cvButton:hover {
    background-color: #e6325e; /* Button background color on hover */
}

.avatar{
    padding: 10px;
}

.two h1{
    font-size: 50px;
    font-weight: bolder;
    padding:10px;
    margin-right: 15px;
    box-shadow: none;
}

.two th {
    text-align: center;
}

.bio {
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.bio p{
    color: white;
}

